.img {
  /* box-sizing: border-box; */
  width: 350px;
  /* height: 300px; */
  border: 2px dashed rgb(26, 94, 196);
  /* border-top-width: 2px;
  border-right-style: dotted;
  border-left-width: 7px;
  border-bottom-color:sandybrown; */

  padding: 5px 15px;
  margin: 30px;
}
.span{
  width: 300px;
  border: 2px dashed rgb(26, 94, 196);
  padding: 5px 10px;
  /* line-height: 1.5em;\ */
  margin: 30px;
}
.div{
  border: 2px dashed rgb(26, 94, 196);
  width: 150px;
  margin: 10px auto;
}
.align-center{
  margin: -20px auto;
  text-align: center;
}